Makefile
Makefile.in
config.h
configure
data/Makefile
data/Makefile.in
libgarmin.pc
src/Makefile
src/Makefile.in
stamp-h1
utils/Makefile
utils/Makefile.in
utils/bsptest
utils/garroute
utils/gartest
utils/garxor
utils/garxtract
version.h

